## Build results
bin/
obj/

## Visual Studio files
.vS/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET Core
appsettings.Development.json
appsettings.Local.json

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## Rider / VS Code
.idea/
.vscode/

## NuGet
*.nupkg

# Environment variables
.env
.env.*
